*{
    box-sizing: border-box;
}
.testing{
    position: relative;
    width: 500px;
    height: 80%;
}

.puzzle-piece {
    height: 250px;
    width: 250px;
    border: 1px solid black;
    display: flex;
    position: relative;
}

.puzzle-square {
    height: 150px;
    width: 150px;
    border: 1px solid red;
    margin: auto;
    z-index: -1;
    background-color: red

}


.puzzle-circle {
    height: 20%;
    width: 20%;
    /* border: 1px solid blue; */
    border-radius: 50% 50% 75% 75%;
    position: absolute;
    background-color: red;
    z-index: 1;
}

.puzzle-circle.top {
    top: 5px;
    left: 100px;
}

.puzzle-circle.bottom {
    top: 153.22px;
    left: 100px;
    background-color: white;
}

.puzzle-circle.right {
    top: 100px;
    right: 5px;
    transform: rotate(90deg);

}

.puzzle-circle.left {
    top: 100px;
    left: 45px;
    transform: rotate(90deg);
    background-color: white;
}

.puzzle-piece.two{
    transform: rotate(90deg);
    left: 245px;
    top: -250px;
    animation: 4s linear infinite slide
}

@keyframes slide {
    30% {
        left: 195px;
    }
    60% {
        left: 150px;
    }
}